*{
    --maincolor: #3498db;
    --gray900: #1d212a;
    --gray800: #2d3540;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid rgba(255, 0, 0, 0.112); */
}


body{
    display: flex;
    height: 100vh;
    background-color: rgb(234, 234, 234);
    overflow: hidden;
}
main{
    display: flex;
    flex-flow: column;
    flex:1;
}

main >*{
    padding: 10px 30px;
}

.medium{
    width: auto;
    height: 1.5rem;
}
/* Sidebar start */
.sidebar{
    width: 22vw;
    padding: 10px;
    display: flex;
    flex-flow: column;
    background-color: var(--maincolor);
    color: white;
}

.invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}
.sidebar ul{
    margin: 1.5rem 0;
    padding: 0rem 10%;
    gap: 1.5rem;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
}

.sidebar li{
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    font-weight: 500;
    font-size:larger;
}
.logo{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: large;
}

.logo  *{
    text-align: center;
}

.logo img{
    flex:1;
    max-width: 3rem;
}


button{
    background-color: transparent;
}
.small-icon{
    width: 30px;
    margin-right: 10px;
}
/* sidebar end */

main{
    overflow: auto;
}
/* Header start */
.head-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    height: min-content;
}

.header-top{
    flex:1;
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    flex: 1;
}

.search-bar{
    flex:1;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
}
.search-bar button{
    border: none;
}

a{
    text-decoration: none;
    display:block;
}

.header-top .small-icon{
    width: 20px;
    margin:0;
}
.search-bar input{
    border: 1px solid #D6D9DC;
    border-radius: 10px;
    max-width: 80%;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    flex:1;
}
.header-top .right-bar{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.right-bar .text{
    padding: 0;
    text-decoration: none;
    color: black;
    align-self: center;
    text-align: center;
}

.profile-small{
    border-radius: 50%;
    width:30px;
    height: 30px;
    object-fit: cover;
    justify-self: center;
    text-align: center;
}

.profile-big{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    justify-self: center;
    text-align: center;
}

.header-bottom{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.header-bottom .left-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-bottom .right-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    justify-items: flex-end;
    gap: 10px;
}

.btn{
    border-radius: 15px;
    width: 5rem;
    padding: 5px;
    background-color: #3498db;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Header End */

/* Main Content Start */
.main-content{
    padding:20px 30px;
    display: grid;
    gap:1.5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
}
.main-content h1,h2,h3,h4{
    color: var(--gray900);
}

.main-content p{
    color: var(--gray800);
}
.main-content h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}
.card h4{
    margin-bottom: 0.5rem;
}
.card{
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    background-color: white;
    background: linear-gradient(90deg, #fdcd3b 20px, #ffffff 20px);
    overflow: hidden;
    padding: 20px 20px 15px 30px;
}

.card .actions{
    align-self: flex-end;

}

.card p{
    font-size: 0.9rem;
    align-self: flex-end;
    margin-bottom: 0.5rem;
}
.projects{
    grid-column: 1;
    grid-row: span 2;
}

.announcements{
    grid-column: 2;
    grid-row: 1;
}

.announcement-list{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1;
}

.announcement-card{
    padding: 10px 0;
}

.announcement-card + .announcement-card {
    border-top: #d3d3d3 1px solid;
  }
.announcement-card h4{
    font-size: 0.8 rem;
}
.announcement-card p{
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trendings{
    grid-column: 2;
    grid-row: 2;
}

.trending-list{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    justify-content: space-between;
    gap:1rem;
}

.trending-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}
.trending-card img{
    grid-column: 1;
    grid-row: span 2;
}
.trending-card h5, p{
    grid-column: 2;
}

/* Main Content End */